<h1>User list</h1>

<%= link_to 'new user', new_user_path %>

<table>
  <thead>
    <tr>
      <td>name</td>
      <td>gender</td>
      <td>avatar</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= link_to 'edit', edit_user_path(user) %> </td>
        <td> <%= user.id %> </td>
        <td> <%= user.name %> </td>
        <td> <%= user.gender %> </td>
        <td>
          <%= image_tag user.avatar.variant(resize_to_fit: [200, 200]) if user.avatar.attached? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
