<div id="carouselExampleControls" class="carousel carousel-fade slide" data-bs-pause='true'>
  <div class="carousel-inner">
    <%= posts.each_with_index do |post, i| %>
      <%= link_to post_path(post), class: "carousel-item #{ 'active' if i == 0 }" do %>
        <%= content_tag(:div) do %>
          <%= image_tag post.images.first.variant(resize_to_fit: [755, 400]), class: '' %>
          <div class="carousel-caption d-none d-md-block">
            <%= content_tag(:h5, post.title) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
