<!DOCTYPE html>
<html>
  <head>
    <title>AStest1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
  </head>

  <body>
    <%= notice %>
    <%= yield %>
  </body>
</html>
