<h2><%= t('registrations.sign_up') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                wrapper: :floating_labels_form %>
    <%= f.input :password,
                required: true,
                hint: t('simple_form.hints.minimum_words', count: @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                wrapper: :floating_labels_form %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                wrapper: :floating_labels_form %>

    <%= f.input :name, wrapper: :floating_labels_form %>

    <%= f.input :gender,
                as: :select,
                collection: [['0', '女'], ['1', '男']],
                label_method: :second,
                value_method: :first,
                wrapper: :floating_labels_select %>

    <%= f.input :avatar, label: '大頭貼', as: :file, wrapper: :vertical_file %>
  </div>

  <div class="form-actions d-grid gap-2">
    <%= f.button :submit, t('registrations.sign_up'), class: 'btn-success mb-4' %>
  </div>

  <div class="form-group other-infos">
    <span>
      已有帳號？點我<%= link_to '登入', new_user_session_path %>
    </span>
    <%= flash[:recaptcha_error] %>
    <%= recaptcha_tags %>
  </div>
<% end %>
